Checks: '-*,
         clang-diagnostic-*,
         clang-analyzer-*,
         performance-*,
         modernize-*,
         cppcoreguidelines-*,
         portability-*
        '
#WarningsAsErrors: '-*'

#HeaderFilterRegex: '.*h$'